html {

    scroll-behavior: smooth;
}

body {
    
    height: 100vh;
    width: 100vw;

    overflow-x: hidden;
}

#root {

    height: 100%;
    width: 100%;

    overflow-x: hidden;
}

/*   *   *   *   *   *   *   *   *   *   */

#view-container {

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    justify-content: center;
    align-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

#view-content {

    flex-grow: 1;
    
    overflow-y: scroll;
    overflow-x: hidden;

    animation-name: easeIn;
    animation-duration: 0.3s;
    animation-delay: 0;

    animation-timing-function: linear;
    animation-fill-mode: backwards;
    animation-direction: normal;

    &.left {

        animation-name: swipeLeft;
    }
    
    &.right {

        animation-name: swipeRight;
    }
}

#view-selector {

    position: sticky;
    bottom: 0;

    box-shadow: 0 5px 20px grey;

    li {

        svg {

            color: #434343;
            transition: all ease-in-out .2s;
        }

        &.active {

            svg {

                color: gold;
            }
        }
    }

    button {

        position: relative;

        small {

            position: absolute;

            bottom: 0;
            left: 50%;

            transform: translateX( -50% ) translateY( 0 );
            
            color: grey;
            font-size: small;
        }
    }
}

.loading {

    position: relative;
    overflow: hidden;

    &::after {

        content: '';

        position: absolute;
        left: 50%;
        top: 50%;

        padding: 10px;
        
        border-radius: 100px;
        border: 4px solid #6c757d;
        border-top-color: white;
        background-color: white;

        animation-name: spin;
        animation-duration: 0.8s;
        animation-delay: 0;
    
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-fill-mode: both;
    }
}

/*   *   *   *   *   *   *   *   *   *   */

@keyframes spin {

    from {

        transform: translateX( -50% ) translateY( -50% ) rotate( 0 );

    } to {

        transform: translateX( -50% ) translateY( -50% ) rotate( 360deg );
    }
}

@keyframes easeIn {
    
    from {

        opacity: 0;

        transform: scale( 0.5 );

    } to {

        opacity: 1;

        transform: scale( 1 );
    }
}

@keyframes swipeLeft {
    
    from {

        opacity: 0;

        transform: translateX( -100% );

    } to {

        opacity: 1;

        transform: translateX( 0 );
    }
}

@keyframes swipeRight {
    
    from {

        opacity: 0;

        transform: translateX( 100% );

    } to {

        opacity: 1;

        transform: translateX( 0 );
    }
}